div {
	background-image: url(../images/bench.jpg);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-size: 40px;
	font-weight: bold;
	position: relative;
}


.bird {
	position: absolute;
	width: 120px;
	height: 130px;
	top: 100px;
	left: 0px;
	transform: rotate(-30deg);
	animation: bird 15s infinite;
}

@keyframes bird {
  from {right: 0px;}
  to {left: 100%;}
}

.bird2 {
	position: absolute;
	width: 120px;
	height: 125px;
	top: 25px;
	left: 0px;	
	transform: rotate(-30deg);
	animation: bird 18s infinite;
	animation-delay: -17s;
}

@keyframes animation1 {
	from {right: 0px;}
	to {left: 100%;}
}

@keyframes animation2 {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}


.ball {
	position: absolute;
	width: 120px;
	height: 120px;
	top: 615px;
	left: 0px;
	animation: animation1 20s linear infinite, animation2 20s infinite;
}

@keyframes boy {
	from {right: 0px}
	to {left: 100%;}
}

.boy {
	position: absolute;
	width: 200px;
	height: 300px;
	top: 470px;
	left: 0px;
	animation: boy 23s infinite;
	animation-delay: -22s;
}

.dog {
	position: absolute;
	width: 100px;
	height: 120px;
	top: 460px;
	left: 250px;

}